
    <form class="form-signin" action="/admin/login" method="post">
      <div class="text-center mb-4">
        <h1 class="h2 mb-3 font-weight-normal" style="font-family: fonte; font-style: italic">Esqueceu a senha</h1>
      </div>

      <div class="form-label-group">
        <input type="email" id="idemail" class="form-control" placeholder="Email" name="email" required autofocus>
        <label for="idemail">Email</label>
      </div>

      <button class="btn btn-lg btn-success btn-block" type="submit">Enviar email</button>
    </form>
